/* ABOUT PAGE */
.aboutNav {
  background-color: transparent;
  position: relative;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-container p {
  font-size: 2.0rem;
}

.about-pic {
  margin: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-pic img {
  max-height: 400px;
  width: auto;
}

.about-text-1 {
  background-color: var(--whttext);
  padding: 40px;
  height: auto;
}

.about-text-2 {
  padding: 40px;
  background-color: var(--primarylt);
  height: auto;
}
.about-text-3 {
  padding: 40px;
  background-color: var(--secondary);
  color: var(--tertiary);
  height: auto;
}
.about-text-4 {
  padding: 40px;
  background-color: var(--tertiary);
  color: var(--secondary);
  height: auto;
}
.about-text-4-text {
  /* needed to separate the button from text */
  min-height: 250px;
}

.about-line {
  width: 60%;
  color: var(--primarydk);
}
.about-nav-menu {
}

#about-btn-holder {
  font-size: 1.8rem;
  background-color: var(--primarylt);
  color: var(--secondary);
  border: solid 2px;
  border-color: var(--secondary);
  background-image: none;
}

#about-btn-holder-2 {
  font-size: 1.8rem;
  background-color: var(--tertiary);
  color: var(--secondary);
  border: solid 2px;
  border-color: var(--secondary);
}

.about-front-basic {
}

.about-wrapper {
}

.about-header {
  background-image: url('../assets/images/water_drop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  padding: 0px;
  height: 50vh;
}

.about-column-pic {
  width: 50%;
  float: left;
}

.about-column-text {
  width: 75%;
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.about-main-wrapper {
}

